[Unit]
Description=BYOH Host Agent
Documentation=https://github.com/vmware-tanzu/cluster-api-provider-bringyourownhost/
Requires=network-online.target
After=network-online.target
ConditionPathExists=/etc/byoh/bootstrap-kubeconfig.conf

[Service]
Restart=always
RestartSec=10s
KillMode=mixed
Environment="KUBECONFIG=/etc/byoh/bootstrap-kubeconfig.conf"
Environment="LOGFILE=/var/log/byoh-hostagent.log"
ExecStart=/bin/sh -c \
    "exec /usr/local/bin/byoh-hostagent \
      --skip-install \
      --bootstrap-kubeconfig $KUBECONFIG 2>&1 | tee -a $LOGFILE"

[Install]
WantedBy=multi-user.target
